In [1]:
import sys 
sys.path.append('..')

import pandas as pd
import numpy as np

from activity_transformer import ActivityTransformer

### With small example log

In [2]:
traces = [
    {
        "caseid": 0,
        "task": "Activity A",
        "start_timestamp": np.datetime64("2021-01-01T09:00:00.000000"),
        "end_timestamp": np.datetime64("2021-01-01T10:00:00.000000"),
        "processing_time": 3600,
        "user": "001"
    },
    {
        "caseid": 0,
        "task": "Activity B",
        "start_timestamp": np.datetime64("2021-01-01T10:00:00.000000"),
        "end_timestamp": np.datetime64("2021-01-01T11:00:00.000000"),
        "processing_time": 3600,
        "user": "001"
    },
    {
        "caseid": 0,
        "task": "Activity A",
        "start_timestamp": np.datetime64("2021-01-01T12:00:00.000000"),
        "end_timestamp": np.datetime64("2021-01-01T14:00:00.000000"),
        "processing_time": 7200,
        "user": "002"
    },
    {
        "caseid": 1,
        "task": "Activity A",
        "start_timestamp": np.datetime64("2021-01-01T12:00:00.000000"),
        "end_timestamp": np.datetime64("2021-01-01T13:00:00.000000"),
        "processing_time": 3600,
        "user": "001"
    },
    {
        "caseid": 1,
        "task": "Activity B",
        "start_timestamp": np.datetime64("2021-01-01T11:00:00.000000"),
        "end_timestamp": np.datetime64("2021-01-01T14:00:00.000000"),
        "processing_time": 3600,
        "user": "001"
    },
    {
        "caseid": 2,
        "task": "Activity B",
        "start_timestamp": np.datetime64("2021-01-01T09:00:00.000000"),
        "end_timestamp": np.datetime64("2021-01-01T09:30:00.000000"),
        "processing_time": 3600/2,
        "user": "001"
    }
]

log_df = pd.DataFrame(traces)

transformer = ActivityTransformer(log_df)
log_df = transformer.transform()
log_df[log_df["user"]=="001"]

,caseid,task,start_timestamp,end_timestamp,processing_time,user,ocurrences_in_trace,accumulated_activity_time,index_in_trace,res_st_oc,res_end_oc
0,0,Activity A,2021-01-01 09:00:00,2021-01-01 10:00:00,3600.0,001,2,10800,0,2,1
2,0,Activity B,2021-01-01 10:00:00,2021-01-01 11:00:00,3600.0,001,1,3600,1,1,1
3,1,Activity A,2021-01-01 12:00:00,2021-01-01 13:00:00,3600.0,001,1,3600,1,2,1
4,1,Activity B,2021-01-01 11:00:00,2021-01-01 14:00:00,3600.0,001,1,3600,0,1,0
5,2,Activity B,2021-01-01 09:00:00,2021-01-01 09:30:00,1800.0,001,1,1800,0,2,1

### With Consulta log

In [5]:
log_df = pd.read_pickle('./outputs/consulta_intercase_and_kproto')

transformer = ActivityTransformer(log_df)
log_df = transformer.transform()

log_df.head()

,caseid,task,user,end_timestamp,start_timestamp,Activity,Resource,@@startevent_concept:name,@@startevent_org:resource,@@startevent_Activity,...,processing_time,waiting_time,started_offtimetable,ended_offtimetable,k_proto_cluster,ocurrences_in_trace,accumulated_activity_time,index_in_trace,res_st_oc,res_end_oc
0,100101,Traer informacion estudiante - banner,7071,2016-03-13 00:59:55,2016-03-13 00:59:55,Traer informacion estudiante - banner,7071,Traer informacion estudiante - banner,7071,Traer informacion estudiante - banner,...,0.0,0.0,False,True,1,1,0,0,0,0
1,100101,Radicar Solicitud Homologacion,7071,2016-03-13 01:00:02,2016-03-13 01:00:02,Radicar Solicitud Homologacion,7071,Radicar Solicitud Homologacion,7071,Radicar Solicitud Homologacion,...,0.0,0.0,False,True,1,1,0,1,0,0
2,100101,Validar solicitud,22475,2016-03-13 01:19:56,2016-03-13 01:19:49,Validar solicitud,22475,Validar solicitud,22475,Validar solicitud,...,7.0,0.0,False,True,1,1,7,2,1,0
3,100101,Revisar curso,22475,2016-03-14 15:07:40,2016-03-14 15:07:40,Revisar curso,22475,Revisar curso,22475,Revisar curso,...,0.0,0.0,False,True,1,1,0,3,0,0
4,100101,Homologacion por grupo de cursos,22478,2016-03-14 15:15:32,2016-03-14 15:07:40,Homologacion por grupo de cursos,22478,Homologacion por grupo de cursos,22478,Homologacion por grupo de cursos,...,472.0,0.0,True,False,1,1,472,4,1,1